* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #F5E6CC;
  color: #2E7D32;
}

/* HEADER */
header {
  background: #2E7D32;
  color: white;
  padding: 20px;
  text-align: center;
}

nav {
  margin-top: 10px;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-weight: 500;
}

nav a:hover {
  color: #66BB6A;
}

/* HERO */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  background: #66BB6A;
  color: white;
}

.hero img {
  width: 40%;
  border-radius: 12px;
}

.hero button {
  padding: 10px 20px;
  border: none;
  background: #2E7D32;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

/* SECTIONS */
.section {
  padding: 50px;
  background: white;
}

.section.alt {
  background: #F5E6CC;
}

h2 {
  margin-bottom: 20px;
  color: #2E7D32;
}

/* CARDS */
.card {
  background: white;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

/* GRID */
.grid {
  display: flex;
  gap: 10px;
}

/* IMAGENS */
.section img {
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
  border-radius: 10px;
}

/* FORM */
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
}

input, textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background: #66BB6A;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background: #2E7D32;
}

/* FOOTER */
footer {
  background: #2E7D32;
  color: white;
  text-align: center;
  padding: 20px;
}

.sua-classe-da-imagem {
    /* Gira a imagem em 90 graus no sentido horário */
    transform: rotate(90deg); 
}